body {
  font-size: 1.125rem;
  color: #707070;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: #312614;
}

h2 {
  font-size: 1.5rem;
}

p {
  margin-top: 0;
}

img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

h1 span {
  color: #87832f;
}

.container {
  width: 95%;
  max-width: 980px;
  margin: 0 auto;
}

.columns {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.bg-primary {
  background-color: #312614;
  color: white;
  padding: 1em;
}

.col-1 {
  width: 20%;
}

.col-2 {
  width: 45%;
}

.col-3 {
  width: 70%;
}

@media screen and (max-width: 600px) {
  .columns {
    flex-direction: column;
  }

  .col-1,
  .col-2,
  .col-3 {
    width: 100%;
  }
}
